.page {
    position: relative;
    background-color: #f3f3f3;
    background: linear-gradient(137deg,rgba(243, 243, 243, 1) 0%, rgb(231, 245, 233) 71%, rgb(214, 241, 211) 100%);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 0px;
    height: 100vh;
    overflow:hidden;
}

.container {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 30%;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.statusContainer {
    font-size: 40px;
    height: 150px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    color: rgb(56, 115, 34);
    filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.4));
    margin-bottom: 8rem;
}

.logo img {
    width: 40% !important;
    height: auto;
}

@keyframes loading {
    from {opacity: 0;}
    to {opacity: 100;}
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loaderImage {
    animation: loading 2s infinite alternate;
    width: 40%;
}

@keyframes movement {
    from {
        transform: translateX(-29.5%);
    }
    to {
        transform: translateX(-40%);
    }
}

.decorContainer {
    position: absolute;
    width: 130vh;
    left: 0;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
    animation: movement 10s linear infinite forwards;
    bottom: 1px;
}

.decor {
    overflow: hidden;
}

.button {
    cursor: pointer;
    border: none;
    width: 60%;
    padding: 14px;
    border-radius: 50px;
    margin: auto;
    margin-top: 60px;
    font-size: 18px;
    height: 80px;
    background-color: #30631e;
    color: #f3f3f3;
    filter: drop-shadow(0px 7px 0px rgba(12, 43, 3, 0.5));
    transition: all ease 0.2s;
}

.button:active {
    background-color: #085f1b;
    transform: translateY(7px);
    filter: none;
}